*{
   font-family: 'Poppins', sans-serif;
}
.login-container {
  background-color: #fff;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.back-icon {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 22px;
  color: #001F5B;
  cursor: pointer;
}

.login-title {
  font-size: 48px;
  font-weight: 700;
  color: #001F5B;
  text-align: center;
  margin-left: 25px;
  margin-top: 40px;
  margin-bottom: 4px;
}

.login-subtitle {
  font-size: 18px;
  text-align: center;
  color: #666;
  margin-bottom: 32px;
  margin-left: 25px;
}

.login-input {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 14px;
  color: #000 !important;              /* Força texto preto */
  background-color: #fff !important;   /* Força fundo branco */
  outline: none;
}


.login-button {
  width: 80%;
  max-width: 300px;
  padding: 12px;
  font-size: 17px;
  margin-top: 15px;
  background-color: #001F5B;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.textt{
  text-align: center;
}

.login-button:hover {
  background-color: #002f7a;
}

.login-footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #555;
}

.cadastre-link {
  color: #001F5B;
  cursor: pointer;
  font-weight: 500;
}
.login-container {
  background-color: #fff;
  padding: 40px 24px;
  font-family: sans-serif;
}

.input-group {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-bottom: 24px;
  width: 100%;
  max-width: 300px;
}

.input-group input {
  width: 100%;
  padding: 16px 12px 8px;
  font-size: 16px;
  border: 1px solid #999;
  border-radius: 6px;
  outline: none;
  color: #000;
  background-color: transparent;
}

.input-group label {
  position: absolute;
  top: 14px;
  left: 12px;
  background-color: white;
  color: #666;
  pointer-events: none;
  transition: 0.2s ease all;
  background-color: #fff;
  padding: 0 4px;
}

/* Quando o input estiver focado ou preenchido, a label "sobe" */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -8px;
  left: 8px;
  font-size: 12px;
  color: #001F5B;
}


